<%- include('partials/head') %>
<%- include('partials/nav') %>
<body>
    <h1>This is home page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum id inventore, quae, recusandae, voluptates assumenda animi deserunt quasi consequuntur porro ducimus veniam odit praesentium ipsum. Ducimus provident earum reprehenderit facere.
    Laborum expedita autem ipsa ea nostrum. Velit eaque fuga quam cupiditate distinctio et saepe minima ducimus, quis veritatis vitae iure tempora dignissimos nesciunt tenetur error eligendi. Sed culpa ut commodi.
    Voluptatem consectetur ipsa voluptatum dolores distinctio perspiciatis praesentium aut labore omnis id libero placeat inventore, asperiores explicabo quidem natus repudiandae deleniti tempora vel laudantium magnam laborum quod necessitatibus ut. Expedita?
    Dolore unde voluptates quos impedit rerum obcaecati dicta porro ut esse, doloribus distinctio commodi ipsum maxime nulla earum dolores tempora ratione dignissimos nesciunt iste. Reiciendis quaerat error porro nostrum consectetur.
    Sequi quas quos ducimus dolore minus molestias deserunt ipsum, eligendi numquam necessitatibus recusandae velit itaque unde incidunt voluptate tenetur? Nesciunt nam voluptatem dolorem nemo veritatis harum porro inventore, debitis maxime.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus aliquid atque sit distinctio nulla ipsam blanditiis non voluptatum fugiat consequatur tempore asperiores nesciunt libero voluptatem vitae provident ad, molestias dolor?
    Consequatur molestias neque, a ratione eos fugiat. Quisquam excepturi veritatis vitae, sunt dicta blanditiis itaque doloremque repellat obcaecati ut nihil voluptatibus libero, inventore dolor reiciendis velit quibusdam, est ea ducimus!
    Praesentium, porro repudiandae! Nobis inventore harum ad vel. Facere officia illo facilis adipisci ea, esse illum. Natus provident, ipsa obcaecati repellat temporibus eos ipsum, commodi ipsam maxime aspernatur, modi ex.</p>
    
</body>
</html>