section{
    height: 1000px;
    width: 1000px;
    background-color: blueviolet;
    
}

#alpha{
    height: 4em;
    width: 3em;
    background-color: rgba(225,225,225,0.4);
    font-size: 80px;
    border: 0.01em black solid;
    margin: 0.3em;
    border-radius: 5%;
}
#opacity{
    height: 4em;
    width: 3em;
    background-color: rgba(250, 35, 35);
    font-size: 80px;
    border: 0.01em black solid;
    margin:0.3em;
    border-radius: 5%;
    opacity: 0.3;
}
p{
    font-size: 0.2em;
    color: rgb(16, 16, 85);
}

#opacity p{
    color: rgb(50, 204, 196);
}